* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.item {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.item__img {
    width: 100%;
}

.item__price span {
    color: green;
}

.item__quantity span {
    color: red;
}